<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TP4_Grupo16_Contacto</title>
</head>

<body>
    <header>
        <h1>CONTACTO</h1>
        <img alt="Fundacion Speedwagon" src="../static/images/FSR.png" title="Logo del grupo 16" width="393px" height="420px">
    </header>

    <nav>
        <ul>
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a href="agenda.html">Agenda</a>
            </li>
            <li>
                <a href="beneficios.html">Beneficios y Becas</a>
            </li>
            <li>
                <a href="contacto.html">Contáctanos</a>
            </li>
        </ul>
    </nav>
    
    <form action="http://www.fi.unju.edu.ar/" method="post">
        <label for="idNyA">Nombre y Apellido: </label>
        <input id="idNyA" type="text" name="nombreYapellido" />
        <br />

        <label>Provincia: </label>
        <select name="provincia">
            <option value="Jujuy">Jujuy</option>
            <option value="Salta">Salta</option>
            <option value="Tucuman">Tucuman</option>
            <option value="SantaFe">Santa Fe</option>
            <option value="BuenosAires">Buenos Aires</option>
        </select>
        <br />

        <label for="idTel">Teléfono: </label>
        <input id="idTel" type="number" name="telefono"/>
        <br />

        <label>Estado Civil</label>
        <br />
        <input id="idCas" type="radio" value="casado" name="estadocivil" />
        <label for="idCas"> Casado/a</label>
        <br />
        <input id="idSol" type="radio" value="soltero" name="estadocivil" />
        <label for="idSol"> Soltero/a</label>
        <br />
        <input id="idOtro" type="radio" value="otro" name="estadocivil" />
        <label for="idOtro"> Otro</label>
        <br />

        <label>Mensaje: </label>
        <textarea rows="5" placeholder="Escriba el mensaje aqui..."></textarea>
        <br />

        <br />
        <button type="submit">Enviar Datos</button>
    </form>

    <footer>
        <hr>
        <p>© 2022 Copyright: fsrG16@gmail.com.ar - Grupo 16 - Mansion de DIO - Teléfono (20) 4444444 - El Cairo - Egipto</p>
    </footer>
</body>
</html>