<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TP4_Grupo16_Idiomas</title>
</head>

<body>
	<header>
		<h1>IDIOMAS</h1>
		<img alt="Fundacion Speedwagon" src="../static/images/FSR.png" title="Logo del grupo 16" width="393px" height="420px">
	</header>
		
	<nav>
		<ul>
			<li>
				<a href="index.html">Inicio</a>
			</li>
			<li>
				<a href="agenda.html">Agenda</a>
			</li>
			<li>
				<a href="beneficios.html">Beneficios y Becas</a>
			</li>
			<li>
				<a href="contacto.html">Contáctanos</a>
			</li>
		</ul>
	</nav>

	<section>
		<h3>Informacion general</h3>
		<p>Estudie en nuestro instituto de idiomas</p>
		<p>Tenemos precios accesibles</p>
		<p>Los idiomas que dictamos en nuestros cursos son: Ingles, Español, Frances, etc...
		<p>Puede consultar los horarios en la siguiente tabla: <p>
		
		<table>
			<tr>
				<th>Idioma</th>
				<th>Fecha inicio</th>
				<th>Horario</th>
				<th>Fecha fin</th>
				<th>Modalidad<br />
				(Precencial/Virtual)</th>
				<th>Docente</th>
				<th>Duracion<br />
				(Semanas)</th>
			</tr>
			<tr>
				<td>Ingles</td>
				<td>2/5/2022</td>
				<td>16hs a 18hs</td>
				<td>2/6/2022</td>
				<td>Virtual</td>
				<td>Serguio Aguero</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Español</td>
				<td>2/5/2022</td>
				<td>16hs a 18hs</td>
				<td>2/6/2022</td>
				<td>Virtual</td>
				<td>Lionel Messi</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Frances</td>
				<td>2/5/2022</td>
				<td>16hs a 18hs</td>
				<td>2/6/2022</td>
				<td>Virtual</td>
				<td>Kylian Mbappé</td>
				<td>1</td>
			</tr>
		</table>
	</section>

	<footer>
		<hr>
		<p>© 2022 Copyright: fsrG16@gmail.com.ar - Grupo 16 - Mansion de DIO - Teléfono (20) 4444444 - El Cairo - Egipto</p>
	</footer>
</body>
</html>