<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TP4_Grupo16_Home</title>
</head>

<body>
	<header>
		<h1>HOME</h1>
		<img alt="Fundacion Speedwagon" src="../static/images/FSR.png" title="Logo del grupo 16" width="393px" height="420px">
	</header>
		
	<nav>
		<ul>
			<li>
				<a href="index.html">Inicio</a>
			</li>
			<li>
				<a href="agenda.html">Agenda</a>
			</li>
			<li>
				<a href="beneficios.html">Beneficios y Becas</a>
			</li>
			<li>
				<a href="contacto.html">Contáctanos</a>
			</li>
		</ul>
	</nav>
		
	<section>
		<h3>Cursos con inscripcion abierta: </h3>
		<ol>
			<li>
				<a href="idiomas.html">Idiomas</a>
			</li>
			<li>
				<a href="">Diseño</a>
			</li>
			<li>
				<a href="">Desarrollo</a>
			</li>
			<li>
				<a href="">Marketing</a>
			</li>
			<li>
				<a href="">Conferencias</a>
			</li>
		</ol>		
	</section>
		
	<footer>
		<hr>		
		<p>© 2022 Copyright: fsrG16@gmail.com.ar - Grupo 16 - Mansion de DIO - Teléfono (20) 4444444 - El Cairo - Egipto</p>
	</footer>
</body>
</html>